*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Rubik', arial;
    background:hsl(270, 20%, 96%);
    overflow-x:hidden;
}
/*
 *- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)
- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

*/
main{
    width:80%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}
.left{
    background:#fff;
    border-radius:20px;
    width:245px;
    margin:100px 100px 100px 0;
}
.left header{
    width:94%;
    margin: 7px auto 0;
    background:linear-gradient(90deg,hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 30px 5% 8px;
    border-radius:15px 15px 5px 5px;
    position:relative;
    z-index:3
}
.white-layer{
    position:absolute;
    top:-1px;
    left:50%;
    transform:translatex(-50%);
    background-color:#fff;
    width:63%;
    height:16px;
    border-radius:0 0 30px 30px;
}
.user{
    display:flex;
    align-items:center;
    
}
.user li{
    margin:0 10px 5px 0;
    list-style:none;
    font-size:18px;
    color:#fff;
}
.profile-pic{
    margin-right:10px;
}
.profile-pic img{
    width:25px;
    border:1px solid #fff;
    border-radius:50%;
}

header li{
    list-style:none;
    font-size:12px;
    color:#fff;
}
.profile-name h3{
    color:#fff;
    font-weight:500;
    font-size:12px;
    margin-bottom:3px;
}
.profile-name p{
    color:#ccc;
    font-size:8px;
}
/*chat*/
.chat{
    width:94%;
    background:hsl(270, 20%, 96%);
    margin:auto;
    border-radius:8px 8px 20px 20px ;
    transform:translatey(-5px);
    z-index:1;
    position:relative;
    margin-bottom:2px;
    box-sizing:content-box;
}
.chat-conteiner{
    width:95%;
    margin:auto;
    padding:10px 0 0 0;
}
.left-p{
    width:200px;
    background:hsla(206, 6%, 79%,0.2);
    color:hsl(276, 55%, 52%);
    border-radius:15px 8px 8px 4px;
}
.right-p{
    background:#fff;
    color:hsl(271, 36%, 24%);
    border-radius:8px 10px 4px 8px ;
}
.paragraph{
    margin:5px;
}
.right-div{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.para{
    
    width:130px;
    font-size:8px;
    line-height:1.4;
    padding:8px 11px;
    box-sizing: content-box;
}
.last{
    margin-bottom:10px ;
}
.left-div{
    display:flex;
    justify-content:flex-start;
    align-items:center;

}
.dog{
    display:flex;
    justify-content:flex-end;
}
.dog img{
    width:40px;
    border-radius:20%;
    margin:10px 0px 5px 0;
}
.dog img:last-child{
    margin-right:5px;
}
.dog img:not(:last-child){
    margin-right:15px;
}
.option{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:170px;
    background:linear-gradient(90deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    padding:10px 15px;
    border-radius:15px 8px 8px 4px;
    margin-top:10px;
}
.long{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.long li{
    margin-right:5px;
    list-style:none;
    color:#fff;
}
.long p{
    font-size:8px;
    color:#fff;
}
.option span{
    color:#fff;
    font-size:14px;
}
.send{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    margin-top:10px;
}
.send input{
    width:100%;
    border-radius:30px;
    background-color:#fff;
    border:0;
    outline:0;
    font-size:12px;
    color:rgba(0,0,0,0.6);
    padding:10px;
    margin:10px auto;
}
.send li{
    position:absolute;
    top:50%;
    transform:translatey(-53%);
    right:5px;
    list-style:none;
    font-size:20px;
    background: hsl(271, 36%, 24%);
    color:#fff;
    padding:0px 7px 2px 10px;
    box-sizing:content-box;
    border-radius:50%;
    cursor:pointer;
}
.right{
    max-width:490px;
    margin-bottom:100px;
}
.right h1{
    font-size:40px;
    color:hsl(271, 36%, 24%);
    font-weight:500;
}
.right p{
    color: hsl(270, 7%, 64%);
    font-size:16px;
    line-height:1.6;
}
@media(max-width:767px){
    main{
        flex-direction:column;
    }
    .right h1{
        text-align:center;
    }
    .right p{
        text-align:center;
        
    }
}
@media(max-width:767px){
    .left {
        margin:100px 0 20px 0;
    }
}
@media(min-width:768px) and (max-width:1080px){
    .right {
        width:50%;
    }
    .left{
        margin-right:30px;
    }
}
@media(min-width:500px) and (max-width:991px){
}
@media(max-width:767px){
    .right h1{
        font-size:30px;
}
    .right p{
        font-size:14px;
    }
}